body {
  background-color: #0d0d0d;
  width: 90%;
  box-shadow: 0 0 10px black;
  margin: 10px auto;
  padding: 0;
  position: relative; }
  body div {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 300px;
    margin: 0; }

#left {
  background-color: blue; }
  #left * {
    display: inline-block;
    height: 30px;
    border-radius: 10px;
    margin: 10px; }
  #left button {
    border: 2px solid white; }

#right {
  background-color: red; }
  #right p {
    font-size: 30px; }
