html{
  height:100%;
  background-color: red;
}
body{
  width:90%;
  height:80%;
  background-color: #b48fff;
  margin:40px auto;
  box-shadow: 0 0 20px black;
  color:white;
  font-size: 20px;
  font-family:Arial;
  position:relative;
}
div{
  padding:10px;
  opacity:1;
  transition: opacity 0.5s;
  position:absolute;
  width:100%;
  height:100%;
  box-sizing: border-box;
  //top:0;
  //left:0;
  form{
    border:7px double #5044bd;
    padding:15px;
    height:90%;
    position:relative;
    label{
      display: inline-block;
    }
    input,select{
      margin:10px;
      display: block;
    }
    input{
      border-radius: 5px;
    }
    select{
      width: 100px;
    }
    button{
      background-color: #ddc1ff;
      color: #5044bd;
      font-weight: bold;
      box-shadow: 2px 2px 5px #414141;
      position:absolute;
      border:none;
      right:10px;
      bottom:10px;
      width:80px;
      height:30px;
      &:hover{
        background-color: #ecdfff;
      }
      &:active{
        color:white;
        background-color: #5044bd;
      }
    }
  }
}
.hide{
  //display:none;
  //visibility:hidden;
  //z-index:-1;
  opacity:0;
}