body{
  width:90%;
  margin:20px auto;
  background-color: dodgerblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
  box-sizing: border-box;
  padding:10px;
  font-size: 26px;
}
p{
  margin:20px;
  padding:20px;
  display:block;
  background-color:saddlebrown;
  color:white;
}
.hide{
  visibility: hidden;
}